// More variables at node_modules/bootstrap/scss/_variables.scss
// $font-family-base: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$enable-shadows: false;
$primary: #66819e;
$link-color: #4096cc;
$input-border-radius: none;
$nav-tabs-border-radius: 0;
$card-border-radius: 0;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
